/** {*/
/*    box-sizing: border-box;*/
/*  }*/
img {
}

  body {
    margin: 0;
     height: 200px;
     color: white;
     background: black;
  }
button:focus { outline:0 !important;
  outline: none;}
iframe {
  width: 420px;
  height: 315px;
  margin: 0 auto;
  display: block;
}

.profilepic{

  width:160px;
  height: 140px;
  border:4px solid white;
  border-radius: 50%;
}
.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 25px;
  text-shadow: 2px 1px #3333CC;
}

.collapsibleTwo {
  background-color:black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 20px;
  font-style: italic;
  text-shadow: 2px 1px #3333CC;
}
.active, .collapsibleTwo:hover {
  background-color: #3333CC;
  outline: none;
  border: none;
}

.active, .collapsible:hover {
  background-color: #3333CC;
  outline: none;
  border: none;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;

  background-color: black;
}
  #intro {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    background: black;
  }


#intro .intro-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(#3333CC 80%, #6699CC);
}
#intro h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 6px 4px black;
}

